* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  display: flow-root;
  
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

img {
  width: 200px;
  float: left;
  margin-right: 20px;
}

h1 {
  font-size: 3.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 0;
  background-color: bisque;
  height: fit-content;
  padding: 50px;
  text-align: center;
  color: blueviolet;
 
}

p {
  font-size: 2.1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  padding: 25px;
  text-align: justify;
 
  
}
