<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="UTF-8"> 
<title>My Website - About</title> 
</head> 
<body> 
    <h1>Nathaniel Saunders</h1> 
    <p>Hi! I’m a dedicated and passionate student who loves learning and
         taking on new challenges. I approach everything I do with focus
          and determination, always aiming to do my best and grow from 
          every experience. I’m curious, motivated, and enjoy exploring 
          new ideas while improving my skills. Hard work isn’t just 
          something I do—it’s part of who I am, and I’m always excited 
          to put my energy into projects and opportunities that inspire me.</p> 
</body> 
</html>